* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-Raleway: "Raleway", sans-serif;
    --font-Open-Sans: "Open Sans", sans-serif;
}

/*font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;*/

body {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    width: 1352px;
}

.main-header {
    height: 70px;
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar-logo {
    text-align: left;
    font-family: var(--font-Raleway);
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0px;
    color: var(--color-primary);
    opacity: 1;
    margin: 16px 0px 17px 136px;
    cursor: pointer;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list-item {
}

.navbar-list-item:nth-of-type(1) {
    margin-right: 95px;
}

.navbar-list-item:nth-of-type(2) {
    margin-right: 95px;
}

.navbar-list-item:nth-of-type(3) {
    margin-right: 94px;
}

.navbar-list-item:nth-of-type(4) {
    margin-right: 136px;
}

.navbar-list-link {
    text-align: center;
    font-family: var(--font-Open-Sans);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3.28px;
    color: var(--color-grey);
    opacity: 1;
    border-bottom: 4px solid transparent;
    padding: 28px 0px 25px 0px;
    text-transform: uppercase;
}

.navbar-list-link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
    cursor: pointer;
}

.main-opening-section {
}

.opening-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opening-section-title {
    text-align: center;
    font-family: var(--font-Raleway);
    font-size: 49px;
    font-weight: 400;
    letter-spacing: 0px;
    color: var(--color-black);
    opacity: 1;
    margin: 130px 0px 20px 0px;
}

.opening-section-text {
    text-align: center;
    font-family: var(--font-Open-Sans);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    color: var(--color-black);
    opacity: 1;
    margin: 0px 0px 38px 0px;
}

.opening-section-button {
    text-align: center;
    font-family: var(--font-Open-Sans);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0px;
    color: var(--color-white);
    opacity: 1;
    display: inline-block;
    padding: 22px 157px 23px 157px;
    border-radius: 40px;
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    cursor: pointer;
}

.opening-section-image {
    width: 100%;
    height: auto;
    opacity: 1;
    background-position: bottom;
}

.main-stats {
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-title {
    text-align: center;
    font-family: var(--font-Raleway);
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0px;
    color: var(--color-black);
    opacity: 1;
    margin: 100px 0px 100px 0px;
}

.stats-column {
    display: flex;
    width: 66%;
    justify-content: space-between;
    margin-bottom: 121px;
}

.stats-column-item {
    height: 100%;
    width: 176px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-number {
    text-align: center;
    font-family: var(--font-Raleway);
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 5.96px;
    color: var(--color-black);
    opacity: 1;
    margin: 14.18px 0px 19.11px 0px
}

.stats-text {
    text-align: center;
    font-family: var(--font-Raleway);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0px;
    color: var(--color-grey);
    opacity: 1;
}

.stats-red-circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    background-color: var(--color-redish);
}

.stats-blue-circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    background-color: var(--color-primary);
}

.stats-green-circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    background-color: var(--color-green);
}

.stats-circle-icon {
    display: flex;
}

.stats-icon-red {
    z-index: 2;
    margin-left: -30px;
}

.stats-icon-blue {
    z-index: 2;
    margin-left: -42px;
}

.stats-icon-green {
    z-index: 2;
    margin-left: -30px;
}

.main-footer {
    background-color: var(--color-light-grey);
    box-shadow: 0px -5px 40px #00000029;
    opacity: 1;
    height: 89px;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 20.48px;
    margin-bottom: 17px;
}

.footer-company-name {
    text-align: left;
    font-family: var(--font-Raleway);
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0px;
    color: var(--color-primary);
    opacity: 1;
    margin-bottom: 6.52px;
}

.footer-rights {
    text-align: left;
    font-family: var(--font-Open-Sans);
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0px;
    color: var(--color-grey);
    opacity: 1;
    margin-bottom: 6.52px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 35px;
    margin-bottom: 30px;
}

.social-media-link:first-child{
    margin-right: 10px;
}

.social-media-link:last-child{
    margin-left: 10px;
}

/*Stylowanie sekcji Kontakt*/

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 59px;
}

/*Stylowanie kolumny Pytania*/

.contact-questions {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-right: 114px;
    margin-bottom: 211px;
}

.contact-questions-header {
    text-align: left;
    font-family: var(--font-Raleway);
    font-size: 49px;
    font-weight: 400;
    letter-spacing: 0px;
    color: var(--color-black);
    opacity: 1;
    padding: 0;
    margin-bottom: 22px;
    align-self: flex-start;
}

.contact-questions-text {
    text-align: left;
    font-family: var(--font-Open-Sans);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    color: var(--color-black);
    opacity: 1;
    margin-bottom: 40px;
}

.contact-email-and-phone {
    display: flex;
    justify-content: flex-start;
}

.contact-items {
    text-align: left;
    font-family: var(--font-Open-Sans);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    color: var(--color-grey);
    opacity: 1;
}

.contact-items:first-child {
    margin-right: 20px;
}

.contact-icon {
    margin-right: 10px;
}

/*Stylowanie kolumny Formularza*/

.contact-form {
    display: flex;
    flex-direction: column;
    max-height: 372px;
    max-width: 440px;
}

.main-form {
    display: flex;
    flex-direction: column;
}

/*Stylowanie kolumny Formularza - część 1*/

.form-part-1 {
    display: flex;
    flex-direction: column;
}

.form-labels-inputs {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.form-label-text {
    text-align: left;
    font-family: var(--font-Open-Sans);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3.28px;
    color: var(--color-primary);
    opacity: 1;
    text-transform: uppercase;
}

.form-input-text {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid var(--color-grey);
    background-color: transparent;
    line-height: 41px;
    width: 100%;
}

.form-input-text:first-child {
    margin-bottom: 42px;
}

.form-input-text:last-child {
    margin-bottom: 30px;
}

/*Stylowanie kolumny Formularza - część 2*/

.form-part-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.checkbox {
    display: flex;
    cursor: pointer;
}

.checkbox input {
    height: 0;
    width: 0;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.checkbox span {
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    flex-basis: 24px;
    background-color: var(--color-white);
    border: 1px solid #95989A;
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;
    margin-right: 10px;
}

.checkbox-text {
    text-align: left;
    font-family: var(--font-Open-Sans);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    line-height: 17px;
}

.checkbox input:checked + span {
    background-image: url("../images/Checkmark.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.button-send {
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    padding: 20px 97px 19px 97px;
    text-align: left;
    font-family: var(--font-Open-Sans);
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0px;
    color: var(--color-white);
    opacity: 1;
    border: none;
    margin-top: 20px;
    display: inline-block;
    align-self: flex-end;
}